version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: vsquarters-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vsquarters
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
